*{
    padding: 0;
    margin: 0;
}
canvas{
    display:block;
}
body {
    /* Prevents selection oftext */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}